/*-------------------------- SIDEBAR INÃCIO --------------------------*/

@media (min-width: 768px) {

    .brand-pills > li > a {
        border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    
    li.brand-nav.active a:after{
    	content: " ";
    	display: block;
    	width: 0;
    	height: 0;
    	border-top: 20px solid transparent;
    	border-bottom: 20px solid transparent;
    	border-left: 9px solid #428bca;
    	position: absolute;
    	top: 50%;
    	margin-top: -20px;
    	left: 100%;
    	z-index: 2;
    }
}

/*-------------------------- SIDEBAR FIM --------------------------*/

body{
    font-family: Roboto, sans-serif;
    
}
.a-left{text-align: left;}
.a-center{text-align: center;}
.a-right{text-align: right;}
.a-justify{text-align: justify;}
.login .content{
    margin: auto;
    float: none;
}
.login .content i{
    position: absolute;
    left: 0;
    font-size: 38px;
}
.login .content label{
    display: block;
    padding-left: 55px;
    position: relative;
}
#main-content{
    margin-top: 50px;
    padding-bottom: 35px;
}
#main-content .box{
    border-radius: 5px;
    background-color: #ccc;
    padding: 3px;    
    margin-bottom: 10px;    
}
#main-content .box .box-txt{
    font-size: 25px;
}
#main-content .box .fas{
    font-size: 80px;
    margin: 50px;
}
#main-content .box button{
    display: block;
    width: 100%;   
    color: #fff;
    background-color: #777;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    background-color: #e7e7e7;
}

.badge {    
    padding: 3px 20px;
    font-size: 30px;    
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #777;
    border-radius: 50px;
    margin: 10px;
}

.box-mesa {
    cursor:pointer;
}

.tab-pane .row .box .active div{
    background-color: #337ab7;
    color:#fff;
}

.tab-pane .row .active span {
    background-color: #428bca;    
}